*.Dockerfile
*.docker
phpfpm_docker/project-files/
nginx_docker/project-files/
.idea/
.php_cs.cache
logs/
saves/
export.tar
mutagen.yml
mutagen.yml.lock
certbot/conf/.certbot.lock
mysql-backups
mysql

phpfpm/.DS_Store
phpfpm/project-files/.DS_Store
.DS_Store

.env
.env.local
.env.prod
Taskfile.yaml
node_modules
